/* import fancy fonts */
@import url("https://use.typekit.net/ssg8azx.css");

.thirdTitle {
  font-size: 2rem;
  color: darkcyan;
  font-family: swear-display, serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
