/* import fancy fonts */
@import url("https://use.typekit.net/ssg8azx.css");

.card {
  border-radius: 10px;
  border: 1px solid white;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  margin: 0 auto;
  width: 80%;
  height: 440px;
}

/* WHITE COLOR WITH LIGHT MODE */

@media (prefers-color-scheme: light) {
  .card {

    border: 1px solid #000000;

  }

}

.campDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.swampfest {
  font-size: 0.875rem;
  opacity: 60%;
}

.campName {
  font-size: 2.5rem;
  font-family: swear-display, serif;
  font-weight: 600;
  font-style: normal;
}

.bio {
  font-size: 1rem;
  text-align: center;
  max-width: 80%;
}

.info {
  text-decoration: underline;
  cursor: pointer;
}

.moneyAndFee {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  height: auto;
}

.money {
  font-weight: 600;
  font-size: 2.75rem;
  /* padding-bottom: 1rem; */
}

.kr {
  font-size: 1.375rem;
}

.fee {
  font-size: 0.875rem;
}

.button {
  color: black;
  background-color: white;
  border-radius: 30px;
  padding: 0.75rem 1.75rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
  font-weight: 700;
}

.button:hover {
  background-color: var(--shrek);
  border: 2px solid white;
}

@media (min-width: 421px) and (max-width: 768px) {
  .card {
    width: 300px;
  }

  .campName {
    font-size: 2.75rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card {
    margin: 0;
    width: 300px;
  }

  .campName {
    font-size: 2.75rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .card {
    margin: 0;
    width: 300px;
  }

  .campName {
    font-size: 2.75rem;
  }
}

@media only screen and (min-width: 1200px) {
  .card {
    margin: 0;
    width: 300px;
  }

  .campName {
    font-size: 2.75rem;
  }
}
