/* import fancy fonts */
@import url("https://use.typekit.net/ssg8azx.css");

.mainTitle {
  font-size: 4rem;
  color: var(--shrek);
  font-family: swear-display, serif;
  font-weight: 800;
  font-style: normal;
  margin-bottom: 1rem;
  margin-top: 5rem;
  text-align: center;
  /* text-transform: uppercase; */
}
