.contentAndBasket {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
}

/* CAMP INFO TEXT */

.campInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 1rem 1.5rem;
  width: 100%;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

/* ADD CONTAINER */

.addContainer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.125rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.addTitle {
  font-weight: 700;
  padding-bottom: 0.375rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  align-items: flex-start;
}

.inputContainer * {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.zipCityCountryContainer,
.emailPhoneContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.fullNameLabel,
.streetLabel,
.zipLabel,
.cityLabel,
.countryLabel,
.emailLabel,
.phoneLabel {
  margin-bottom: 0.125rem;
  font-size: 1rem;
}

.fullName,
.street,
.zip,
.city,
.country,
.email,
.phone {
  padding: 0.5rem 1rem;
  width: 100%;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.paymentSubtitle {
  font-weight: 500;
  opacity: 70%;
  font-style: italic;
}
/* BASKET */

.basketContainer {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 1rem 1rem 1.5rem;
  margin: 1rem 0;

  gap: 1rem;
  font-size: 1.125rem;
  border-radius: 10px;
}

.orderTitle {
  font-weight: 700;
}

.ticketAmountContainer,
.ticketsContainer,
.campingContainer,
.totalContainer,
.vatContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.totalContainer {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
}

.ticketNum,
.vatNum {
  font-weight: 600;
}

.totalNum {
  font-size: 2.5rem;
  font-weight: 600;
}

/* FLOW NAV */

.flowNav {
  display: flex;
  flex-direction: column;
  padding: 1.75rem 1rem;
  gap: 1.75rem;
}

.selectIcons,
.backNextButtons button {
  cursor: pointer;
}

.backNextButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backButton,
.nextButton {
  border-radius: 30px;
  padding: 0.75rem 1.75rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.backButton {
  color: white;
  background-color: black;
  border: 2px solid white;
  opacity: 80%;
}

.backButton:hover {
  color: black;
  background-color: white;
  border: 2px solid white;
}

.nextButton {
  color: black;
  background-color: var(--shrek);
  border: 2px solid var(--shrek);
  opacity: 90%;
}

.nextButton:hover {
  color: var(--shrek);
  background-color: black;
  border: 2px solid var(--shrek);
}

.nextButton:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.stepNum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.75rem;
}

.currentStep {
  color: var(--shrek);
}

.lowOpacity {
  opacity: 50%;
}

/* MEDIA QUERIES */

@media (min-width: 421px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  .contentAndBasket {
    flex-direction: row;
  }

  .content {
    flex: 1 1 60%;
  }

  .inputContainer {
    width: 406px;
    padding: 0 0.5rem;
  }

  .zipCityCountryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .emailPhoneContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .basketContainer {
    width: 282px;
    flex: 1 1 40%;
    margin: 0 0 0 1rem;
    height: fit-content;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contentAndBasket {
    flex-direction: row;
  }

  .content {
    flex: 1 1 60%;
  }

  .inputContainer {
    width: 457.167px;
    padding: 0 0.5rem;
  }

  .zipCityCountryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .emailPhoneContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .basketContainer {
    width: 316.033px;
    flex: 1 1 40%;
    margin: 0 0 0 1rem;
    height: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .contentAndBasket {
    flex-direction: row;
  }

  .content {
    flex: 1 1 60%;
  }

  .inputContainer {
    width: 457.167px;
    padding: 0 0.5rem;
  }

  .zipCityCountryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .emailPhoneContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .basketContainer {
    width: 316.033px;
    flex: 1 1 40%;
    margin: 0 0 0 1rem;
    height: fit-content;
  }
}

/* COLLAPSIBLE */

/* .collapseDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}

.collapseDivBtn {
  width: 95%;
  height: auto;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.5s ease-in;
}

.collapseDivBtn:hover {
  color: black;
  background-color: white;
} */

.payWithThis {
  text-decoration: underline 5px solid yellow;
}

.notPayingWithThis {
  cursor: pointer;
}
