.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10rem 1rem 8rem;
  gap: 4rem;
}

.campInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
}

/* FLOW NAV */

.nextButton {
  border-radius: 30px;
  padding: 0.75rem 1.75rem;
  transition: all 0.5s ease-in;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
}

.nextButton {
  color: black;
  background-color: var(--shrek);
  border: 2px solid var(--shrek);
  opacity: 90%;
}

.nextButton:hover {
  color: var(--shrek);
  background-color: black;
  border: 2px solid var(--shrek);
}

.nextButton:disabled {
  opacity: 50%;
  cursor: not-allowed;
}

/* MEDIA QUERIES */

@media (min-width: 421px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
}
